benchmarks/blind_v2/** -text
benchmarks/blind_v3/external_*/** -text
benchmarks/blind_v4/external_*/** -text
benchmarks/blind_v5/external_*/** -text
benchmarks/blind_v6/external_*/** -text
benchmarks/blind_v7/external_*/** -text
benchmarks/blind_v8/external_*/** -text
